gatk
gatkcondaenv.yml               
gatkdoc                         
gatk-package-4.2.0.0-spark.jar 
scripts
gatk-completion.sh  
GATKConfig.EXAMPLE.properties  
gatk-package-4.2.0.0-local.jar  
gatkPythonPackageArchive.zip    
README.md

